---
import { Icon } from 'astro-icon/components'

const IconSize = 24
---

<div class="h-64px flex items-center py-0 px-16px sticky top-8px z-100">
    <div class="h-full flex items-center absolute">
        <span class="text-20px">YHUAONE.CN</span>
    </div>
    <div class="my-0 mx-auto p-8px border-(2px solid [var(--bg-200)]) text-[var(--text-200)] rounded-16px flex items-center gap-16px backdrop-blur-50px">
        <a href="/"><Icon class="cursor-pointer" size={IconSize} name="mdi:home-search" /></a>
        <a href="/about"><Icon class="cursor-pointer" size={IconSize} name="mdi:paper-text" /></a>
        <Icon class="cursor-pointer" size={IconSize} name="mdi:tags" />
        <a href="/databoard">
            <Icon class="cursor-pointer" size={IconSize} name="mdi:view-dashboard-edit" />
        </a>
        <Icon class="cursor-pointer" size={IconSize} name="mdi:about" />
    </div>
</div>
